BODY {
    background-color:#E7EBEF;FONT-FAMILY: Verdana,Arial;color:black;
}
A {
    TEXT-DECORATION: none;
}
A:link {
    FONT-WEIGHT: bold; COLOR: #0060b0;
}
A:visited {
    FONT-WEIGHT: bold; COLOR: #004080;
}
A:hover {
	TEXT-DECORATION: underline;
}
INPUT {
    FONT-SIZE: 12px; FONT-FAMILY: Arial,Helvetica;
}
SELECT {
    FONT-SIZE: 12px; FONT-FAMILY: Arial,Helvetica;
}
textarea {
    FONT-SIZE: 14px;
    FONT-FAMILY: Arial,Helvetica;
    WIDTH:100%;
}
hr {
    color:#4A9E4A;
}
h1 {}
.ligneTitreMessageImpaire {
    background-color:#4A9E4A;
    color:white;
    font-size:12px;
}
.ligneTitreMessagePaire {
    background-color:#94EF9C;
    font-size:12px;
}
.ligneReponseMessagePaire {
    font-size:11px;
    background-color:#749BC2;
}
.ligneReponseMessageImpaire {
    font-size:11px;
    background-color:#99CCFF;
}
.ligneSujetMessage {
    background-color:#4A9E4A;
    color:white;
}

.ligneRéponseDevellopeImpaire {
    background-color:#4A9E4A;
    color:white;
}
.ligneRéponseDevellopePaire {
    background-color:#94EF9C;
}
